@{
    ViewData["Title"] = "Thank You Page";
}


<div class="main_container_block escorts_profile_container">
    <h1 class="heading">Thank You!</h1>

    <div class="container_area border_radius bg_new_york">

        <!--all container load into this div-->
        <div class="common_page_container clearfix">


            <p>Your message has been sent successfully.</p>
        </div>
        <!--end all container load div-->

    </div>
</div>