@model WebUi.Controllers.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="static_banner_part">
    <div class="static_banner_content">
        <h1 class="heading">England escort: meet your match today</h1>
    </div>
</div>
<div class="site_information_top">
    <div class="container_area border_radius england_bg_color">
        <div class="custom_content_block clearfix">
            <p>
                Hello and welcome to DreamGirlsEngland for all your escorts needs in England. Whether
                you&rsquo;re a local or just visiting England, we are your ideal escort agency for all
                your escort needs. Give us a call today and we will respond to all your needs in the
                shortest time possible. England is one diverse country with people from different parts
                of the world. It is one place you need a great England escort to get to enjoy the local
                city. Give us a call today and let us connect you with your ideal escort. You will never
                go wrong hiring from us as we guarantee the satisfaction you need in the city.
            </p><br />
                <div class="video_block">
                    <img src="~/images/girls/alice.jpg" alt="alice" title="alice" class="img-responsive" />
                </div>
            <p>
                We understand the varying needs of men when it comes to hiring escorts and go the extra
                mile to bring you exactly what you desire. We as the DreamGirlsEngland have selected
                only the best available escorts in England. You can make a pick from any of these
                amazing girls and get the full value for your money. Our girls will not disappoint you
                but instead use their great skills on you and deliver an exciting escort service that
                you&rsquo;ve never experienced in life. Escort service in England is one of the best
                with most agencies going the extra mile and providing you with the most desirable escort
                of your choice. The England escort agency has been on the rise over the past few years
                and we take pride in leading the rest with the best professional services. Make the
                right choice on your England escort girl today and let us do the rest to ensure you have
                her right there with you in a matter of minutes.
            </p><br />
        </div>
    </div>
</div>
<div class="main_container_block escorts_display_page">
    <div class="container_area border_radius bg_new_york">
        <div class="escorts_display_block">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-9">

                    <div class="city_model_category_block">
                        <h2>London featured escorts</h2>
                        <div class="row">
                            <ul id="portfolio-list">
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/alice.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/535.jpg" alt="Alice"
                                                         title="Alice" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Alice</div>
                                                    <a href="escorts-profile/alice.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/anna.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/536.jpg" alt="Anna"
                                                         title="Anna" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Anna</div>
                                                    <a href="escorts-profile/anna.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/anny.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/537.jpg" alt="Anny"
                                                         title="Anny" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Anny</div>
                                                    <a href="escorts-profile/anny.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/april.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/538.jpg" alt="April"
                                                         title="April" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">April</div>
                                                    <a href="escorts-profile/april.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/catherine.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/539.jpg" alt="Catherine"
                                                         title="Catherine" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Catherine</div>
                                                    <a href="escorts-profile/catherine.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/christine.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/540.jpg" alt="Christine"
                                                         title="Christine" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Christine</div>
                                                    <a href="escorts-profile/christine.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h3>
                                <a href="london-escorts.php" style="color:#fff;">
                                    View all London
                                    Escorts
                                </a>
                            </h3>
                        </div>
                    </div>

                    <div class="city_model_category_block">
                        <h2>Manchester featured escorts</h2>
                        <div class="row">
                            <ul id="portfolio-list">
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/cici.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/541.jpg" alt="Cici"
                                                         title="Cici" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Cici</div>
                                                    <a href="escorts-profile/cici.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 3 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/faye.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/542.jpg" alt="Faye"
                                                         title="Faye" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Faye</div>
                                                    <a href="escorts-profile/faye.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/goldie.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/543.jpg" alt="Goldie"
                                                         title="Goldie" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Goldie</div>
                                                    <a href="escorts-profile/goldie.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 3 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/hana.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/544.jpg" alt="Hana"
                                                         title="Hana" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Hana</div>
                                                    <a href="escorts-profile/hana.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/july.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/545.jpg" alt="July"
                                                         title="July" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">July</div>
                                                    <a href="escorts-profile/july.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/kathi.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/546.jpg" alt="Kathi"
                                                         title="Kathi" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Kathi</div>
                                                    <a href="escorts-profile/kathi.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h3>
                                <a href="manchester-escorts.php" style="color:#fff;">
                                    View all Manchester
                                    Escorts
                                </a>
                            </h3>
                        </div>
                    </div>

                    <div class="city_model_category_block">
                        <h2>Birmingham featured escorts</h2>
                        <div class="row">
                            <ul id="portfolio-list">
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/kura.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/547.jpg" alt="Kura"
                                                         title="Kura" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Kura</div>
                                                    <a href="escorts-profile/kura.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/leah.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/548.jpg" alt="Leah"
                                                         title="Leah" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Leah</div>
                                                    <a href="escorts-profile/leah.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/lee.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/549.jpg" alt="Lee"
                                                         title="Lee" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Lee</div>
                                                    <a href="escorts-profile/lee.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/liana.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/550.jpg" alt="Liana"
                                                         title="Liana" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Liana</div>
                                                    <a href="escorts-profile/liana.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/min.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/551.jpg" alt="Min"
                                                         title="Min" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Min</div>
                                                    <a href="escorts-profile/min.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 3 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/mint.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/552.jpg" alt="Mint"
                                                         title="Mint" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Mint</div>
                                                    <a href="escorts-profile/mint.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h3>
                                <a href="birmingham-escorts.php" style="color:#fff;">
                                    View all Birmingham
                                    Escorts
                                </a>
                            </h3>
                        </div>
                    </div>

                    <div class="city_model_category_block">
                        <h2>Liverpool featured escorts</h2>
                        <div class="row">
                            <ul id="portfolio-list">
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/misaki.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/553.jpg" alt="Misaki"
                                                         title="Misaki" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Misaki</div>
                                                    <a href="escorts-profile/misaki.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 3 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/nuclear.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/554.jpg" alt="Nuclear"
                                                         title="Nuclear" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Nuclear</div>
                                                    <a href="escorts-profile/nuclear.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/rachel.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/555.jpg" alt="Rachel"
                                                         title="Rachel" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Rachel</div>
                                                    <a href="escorts-profile/rachel.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/rina.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/556.jpg" alt="Rina"
                                                         title="Rina" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Rina</div>
                                                    <a href="escorts-profile/rina.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/rong.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/557.jpg" alt="Rong"
                                                         title="Rong" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Rong</div>
                                                    <a href="escorts-profile/rong.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="20-23 2 50-55 101-120 Brunette">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/rose.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/558.jpg" alt="Rose"
                                                         title="Rose" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Rose</div>
                                                    <a href="escorts-profile/rose.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h3>
                                <a href="liverpool-escorts.php" style="color:#fff;">
                                    View all Liverpool
                                    Escorts
                                </a>
                            </h3>
                        </div>
                    </div>

                    <div class="city_model_category_block">
                        <h2>Bristol featured escorts</h2>
                        <div class="row">
                            <ul id="portfolio-list">
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/scarlet.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/559.jpg" alt="Scarlet"
                                                         title="Scarlet" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Scarlet</div>
                                                    <a href="escorts-profile/scarlet.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/shazza.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/560.jpg" alt="Shazza"
                                                         title="Shazza" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Shazza</div>
                                                    <a href="escorts-profile/shazza.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/wanita.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/561.jpg" alt="Wanita"
                                                         title="Wanita" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Wanita</div>
                                                    <a href="escorts-profile/wanita.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/xiao.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/562.jpg" alt="Xiao"
                                                         title="Xiao" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Xiao</div>
                                                    <a href="escorts-profile/xiao.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/yami.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/563.jpg" alt="Yami"
                                                         title="Yami" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Yami</div>
                                                    <a href="escorts-profile/yami.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:block;" class="">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="escort_display">
                                            <div class="escorts_pic_block">
                                                <a href="escorts-profile/yokika.php">
                                                    <img class="img-responsive"
                                                         src="~/images/escorts/564.jpg" alt="Yokika"
                                                         title="Yokika" />
                                                </a>
                                                <div class="escort_description clearfix">
                                                    <div class="escorts_name">Yokika</div>
                                                    <a href="escorts-profile/yokika.php"
                                                       class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h3>
                                <a href="bristol-escorts.php" style="color:#fff;">
                                    View all Bristol
                                    Escorts
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="advance_filter_container">
                        <h3 class="vignate_color">Advance Filter</h3>
                        <div class="advance_filter_block">
                            <h5>Age</h5>
                            <div class="filter_option">
                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                    <li><a href="#20-23" title="" rel="20-23">20-23</a></li>
                                    <li><a href="#24-27" title="" rel="24-27">24-27</a></li>
                                    <li><a href="#28-30" title="" rel="28-30">28-30</a></li>
                                    <li><a href="#all" title="">All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="advance_filter_block">
                            <h5>Bust</h5>
                            <div class="filter_option">
                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                    <li><a href="#1" title="" rel="1">1</a></li>
                                    <li><a href="#2" title="" rel="2">2</a></li>
                                    <li><a href="#3" title="" rel="3">3</a></li>
                                    <li><a href="#4-5" title="" rel="4-5">4-5</a></li>
                                    <li><a href="#all" title="">All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="advance_filter_block">
                            <h5>Height</h5>
                            <div class="filter_option">
                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                    <li><a href="#50-55" title="" rel="50-55">5'0"-5'5"</a></li>
                                    <li><a href="#56-58" title="" rel="56-58">5'6"-5'8"</a></li>
                                    <li><a href="#59-6" title="" rel="59-6">5'9"-6'+</a></li>
                                    <li><a href="#all" title="">All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="advance_filter_block">
                            <h5>Weight</h5>
                            <div class="filter_option">
                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                    <li><a href="#80-100" title="" rel="80-100">80-100</a></li>
                                    <li><a href="#101-120" title="" rel="101-120">101-120</a></li>
                                    <li><a href="#121-140" title="" rel="121-140">121-140</a></li>
                                    <li><a href="#141-160" title="" rel="141-160">141-160</a></li>
                                    <li><a href="#all" title="">All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="advance_filter_block">
                            <h5>Hair Color</h5>
                            <div class="filter_option">
                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                    <li><a href="#Black" title="" rel="Black">Black</a></li>
                                    <li><a href="#Brunette" title="" rel="Brunette">Brunette</a></li>
                                    <li><a href="#Blonde" title="" rel="Blonde">Blonde</a></li>
                                    <!-- <li><a href="#Red" title="" rel="Red">Red</a></li>-->
                                    <li><a href="#all" title="">All</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom_content_block clearfix">
                <h2>Meet these lovely England escorts</h2>
                <p>
                    We have the hottest girls in England as you can see by the photos on our site. All
                    that you see here are our real girls that are ready and waiting to come to your
                    hotel room or place of residence within minutes of you making an appointment. They
                    all look lovely and amazing in these photos which goes to show the extent of our
                    selection when it comes to getting you the most physically attractive England
                    escorts. We take pride in our diversity and believe you have a different preference
                    than others. Our diversity as an agency goes to show how we care for the very innate
                    needs of our clients.
                </p><br />
                <p>
                    We do not stop there but go ahead to give you the freedom to choose your ideal escort
                    girl England. We do not pick for you but only provide you with options. Have you
                    already spotted one escort girl England that you would love to spend the evening
                    with in the comfort of your hotel room? Go ahead and book her right now without any
                    hesitation and we will send her right to your doorstep. You will never go wrong
                    making a pick from our agency as we are the best and known to be reliable and
                    honest.
                </p><br />
                <h2>Hiring the England escorts</h2>
                <div class="video_block">
                    <img src="~/images/girls/bella.jpg" alt="bella" title="bella"
                         class="img-responsive" />
                </div>
                <p>
                    England is one of the most developed countries in the world and it is quite hard for
                    one to just find good looking girls in the streets for companionship. There are some
                    in nightclubs but those can be quite expensive and will not be willing to leave the
                    club and give you the private time you need with her. This makes perfect sense
                    hiring from our agency. We at DreamGirlsEngland have made it quite easier for any
                    man looking for a quality moment with an escort to hire with ease. We have the right
                    England escorts of your choice ready and willing to give you the time of your life.
                    Getting them to be with you has never been easier. To get your ideal escort girl
                    England:
                </p>
                <ul class="unorder_list_disc">
                    <li>
                        Make a selection of the available girls below by clicking book on the button
                        next to her image
                    </li>
                    <li>Give us the requested details including your hotel name and room number</li>
                    <li>You can always choose a backup girl as an option in case something comes up</li>
                    <li>You will be requested to pay a small agency fee</li>
                    <li>
                        That is it; you can relax in your hotel room and wait for your escort to arrive
                    </li>
                </ul>
                <p>
                    You have nothing to worry when making an appointment with any of our girls are they
                    are reliable and honest. These are England escorts that we have personally vetted
                    and checked their background. We assure you that they are the best at their job and
                    will deliver a professional service giving you the full value for your money. You
                    will never go wrong getting all your desires and needs fulfilled by our girls.
                </p>
                <br />
                <h2>Why hire the England escorts?</h2>
                <div class="video_block">
                    <img src="~/images/girls/madeline.jpg" alt="madeline" title="madeline"
                         class="img-responsive" />
                </div>
                <p>
                    You need the England escort for various reasons in England but most importantly are
                    for companionship and guidance in England. England is a big country with a lot of
                    things to do and see. From watching a local premiership game to touring the
                    countryside, you have a lot to do and see in England. All these are places where you
                    need a young escort girl England to accompany you and act as your tour guide. You
                    need our DreamGirlsEngland escorts to feel happy and welcome in England. You
                    don&rsquo;t want to be touring places and looking all new and lost when any of our
                    girls can guide you around and show you to some of the best places to eat and have
                    fun. Here are some of the reasons to hire the England escorts:
                </p>
                <ul class="unorder_list_disc">
                    <li>To accompany you to various entertainment spots in England</li>
                    <li>Double up as your tour guide in England</li>
                    <li>Show you some of the best places to enjoy the local dishes</li>
                    <li>Take away the loneliness when spending time alone in your hotel room</li>
                    <li>
                        Offer you some of the best pleasure as you vacation or do business in the city
                    </li>
                </ul>
                <p>
                    There are several reasons to hire the England escorts today from our agency and make
                    your stay in England a memorable one. We look forward to hearing from you soon in
                    order to spice up your stay in England with our amazing England escorts.
                </p><br />
                <h2>Contact Us</h2>
                <p>
                    Phone: <a href="tel:+447520635750">+44 (752) 063-5750</a><br />
                    Email: <a href="mailto:info@dreamgirlsengland.com">info@dreamgirlsengland.com</a>
                </p><br />
                <h3>Map</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4945419.546768135!2d-6.804871865799057!3d52.75464363741706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d0a98a6c1ed5df%3A0xf4e19525332d8ea8!2sEngland%2C+UK!5e0!3m2!1sen!2sua!4v1496318900700"
                        width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>