@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Manchester Escorts: Female Escort Service At DreamGirlsEngland</title>
    <meta name="description" content="When you need the very best of the Manchester escorts, do not look any further than our DreamGirlsEngland escort agency. We are the leading escort agency in the city.">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="http://www.dreamgirlsengland.com/manchester-escorts.php" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Manchester Escorts: Female Escort Service At DreamGirlsEngland" />
    <meta property="og:description" content="When you need the very best of the Manchester escorts, do not look any further than our DreamGirlsEngland escort agency. We are the leading escort agency in the city." />
    <meta property="og:url" content="http://www.dreamgirlsengland.com/manchester-escorts.php" />
    <meta property="og:phone_number" content="+447520635750" />
    <meta property="og:locality" content="England" />
    <meta property="og:country-name" content="UK" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
    <link href="css/layout_style.css" type="text/css" rel="stylesheet">
    <link href="fonts/font_style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <link rel="stylesheet" type="text/css" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script async src="js/menu.js" type="text/javascript"></script>
    <script type="text/javascript" src="fancybox/lib/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox({
                prevEffect: 'none',
                nextEffect: 'none'
            });
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    overlay: {
                        speedOut: 0
                    }
                }
            });
            $(".fancybox-effects-b").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                helpers: {
                    title: {
                        type: 'over'
                    }
                }
            });
            $(".fancybox-effects-c").fancybox({
                wrapCSS: 'fancybox-custom',
                closeClick: true,
                openEffect: 'none',
                helpers: {
                    title: {
                        type: 'inside'
                    },
                    overlay: {
                        css: {
                            'background': 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });
            $(".fancybox-effects-d").fancybox({
                padding: 0,
                openEffect: 'elastic',
                openSpeed: 150,
                closeEffect: 'elastic',
                closeSpeed: 150,
                closeClick: true,
                helpers: {
                    overlay: null
                }
            });
            $('.fancybox-buttons').fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                helpers: {
                    title: {
                        type: 'inside'
                    },
                    buttons: {}
                },
                afterLoad: function () {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });
            $('.fancybox-thumbs').fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                arrows: false,
                nextClick: true,
                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });
            $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
                    openEffect: 'none',
                    closeEffect: 'none',
                    prevEffect: 'none',
                    nextEffect: 'none',
                    arrows: false,
                    helpers: {
                        media: {},
                        buttons: {}
                    }
                });
            $("#fancybox-manual-a").click(function () {
                $.fancybox.open('1_b.jpg');
            });
            $("#fancybox-manual-b").click(function () {
                $.fancybox.open({
                    href: 'iframe.html',
                    type: 'iframe',
                    padding: 5
                });
            });
            $("#fancybox-manual-c").click(function () {
                $.fancybox.open([
                    {
                        href: '1_b.jpg',
                        title: 'My title'
                    }, {
                        href: '2_b.jpg',
                        title: '2nd title'
                    }, {
                        href: '3_b.jpg'
                    }
                ], {
                    helpers: {
                        thumbs: {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });
        });
    </script>
    <script src="js/filterable.pack.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100373238-1', 'auto');
        ga('send', 'pageview');
    </script><div style="background:url(images/bg_photos/manchaster_img/1.jpg) no-repeat top center" class="bd_img_fixed_style">
        <div class="container">
            <div class="wrapper_body">
                <header class="header_part">
                    <div class="brand_logo">
                        <a href="/" class="main_logo"><img src="~/images/main_logo.png" alt="DreamGirlsEngland" title="DreamGirlsEngland" class="img-responsive" /></a>
                    </div>
                    <div class="rightdiv">
                        <div class="chat-icon">
                            <script type='text/javascript' src='https://chat.serverpipe.com:8443/include.js?domain=www.dreamgirlsengland.com'></script>
                            <script type='text/javascript'>
                                if (typeof sWOTrackPage == 'function') sWOTrackPage();
                            </script>
                        </div>
                    </div>
                    <ul class="social_sprite_icon clearfix">
                        <li><a href="#" target="_blank" class="fb_icon"></a></li>
                        <li><a href="#" target="_blank" class="tw_icon"></a></li>
                        <li><a href="#" target="_blank" class="gplus_icon"></a></li>
                        <li><a href="#" target="_blank" class="pinterest_icon"></a></li>
                    </ul>
                    <p class="site_phone_right" itemprop="telephone"><a style="color:#333333; font-size:16px;" href="tel:+447520635750">Click to Dial +44 (752) 063-5750</a></p>
                </header>
                <div class="navigation_bar_top">
                    <div class="mainWrap">
                        <a id="touch-menu" class="mobile-menu" href="#"><i class="icon-reorder"></i>Navigation</a>
                        <nav>
                            <ul class="menu">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/london-escorts.php">London</a>
                                    <ul class="sub-menu">
                                        <li><a href="/london-asian-escorts.php">Asian Escorts</a></li>
                                        <li><a href="/london-bbw-escorts.php">BBW Escorts</a></li>
                                        <li><a href="/london-black-escorts.php">Black Escorts</a></li>
                                        <li><a href="/london-busty-escorts.php">Busty Escorts</a></li>
                                        <li><a href="/london-cheap-escorts.php">Cheap Escorts</a></li>
                                        <li><a href="/london-high-class-escorts.php">High Class Escorts</a></li>
                                        <li><a href="/london-indian-escorts.php">Indian Escorts</a></li>
                                        <li><a href="/london-mature-escorts.php">Mature Escorts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/manchester-escorts.php">Manchester</a>
                                    <ul class="sub-menu">
                                        <li><a href="/manchester-asian-escorts.php">Asian Escorts</a></li>
                                        <li><a href="/manchester-black-escorts.php">Black Escorts</a></li>
                                        <li><a href="/manchester-cheap-escorts.php">Cheap Escorts</a></li>
                                        <li><a href="/manchester-elite-escorts.php">Elite Escorts</a></li>
                                        <li><a href="/manchester-indian-escorts.php">Indian Escorts</a></li>
                                        <li><a href="/manchester-mature-escorts.php">Mature Escorts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/birmingham-escorts.php">Birmingham</a>
                                    <ul class="sub-menu">
                                        <li><a href="/birmingham-asian-escorts.php">Asian Escorts</a></li>
                                        <li><a href="/birmingham-black-escorts.php">Black Escorts</a></li>
                                        <li><a href="/birmingham-cheap-escorts.php">Cheap Escorts</a></li>
                                        <li><a href="/birmingham-high-class-escorts.php">High Class Escorts</a></li>
                                        <li><a href="/birmingham-indian-escorts.php">Indian Escorts</a></li>
                                        <li><a href="/birmingham-mature-escorts.php">Mature Escorts</a></li>
                                        <li><a href="/birmingham-outcall-escorts.php">Outcall Escorts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/liverpool-escorts.php">Liverpool</a>
                                    <ul class="sub-menu">
                                        <li><a href="/liverpool-asian-escorts.php">Asian Escorts</a></li>
                                        <li><a href="/liverpool-bbw-escorts.php">BBW Escorts</a></li>
                                        <li><a href="/liverpool-black-escorts.php">Black Escorts</a></li>
                                        <li><a href="/liverpool-cheap-escorts.php">Cheap Escorts</a></li>
                                        <li><a href="/liverpool-mature-escorts.php">Mature Escorts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/bristol-escorts.php">Bristol</a>
                                    <ul class="sub-menu">
                                        <li><a href="/bristol-asian-escorts.php">Asian Escorts</a></li>
                                        <li><a href="/bristol-bbw-escorts.php">BBW Escorts</a></li>
                                        <li><a href="/bristol-cheap-escorts.php">Cheap Escorts</a></li>
                                        <li><a href="/bristol-mature-escorts.php">Mature Escorts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/booking.php">Booking</a>
                                    <ul class="sub-menu">
                                        <li><a href="/contact.php">Contact</a></li>
                                        <li><a href="/employment.php">Employment</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div><div class="main_container_block escorts_display_page">
                    <div class="breadcums_block" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <ol class="breadcrumb">
                            <li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
                            <li class="active"><span itemprop="title">Manchester Escorts</span></li>
                        </ol>
                    </div>
                    <h1 class="heading">Make your stay in Manchester worthwhile with Manchester escorts</h1>
                    <div class="container_area border_radius bg_new_york">
                        <div class="custom_content_block clearfix">
                            <p>Manchester City is known worldwide for its big football clubs but that is not everything about Manchester. Manchester is a lovely city with millions of visitors every year either coming for the games, vacation or business. Are you already in Manchester or planning a visit soon? Consider yourself lucky to have found us. We are the DreamGirlsEngland your home to the leading escorts in the whole of Manchester and its environs. We fully understand the sports enthusiasts in Manchester and their preference to have a good time with gorgeous ladies who know how to care for the kinky needs of men. You will need our Manchester escorts to spice up your short stay in the city. Escort services Manchester is not something new with the high number of young, flamboyant guys looking for companionship.</p><br />
                            <div class="video_block">
                                <img src="~/images/girls/amber.jpg" alt="amber" title="amber" class="img-responsive" />
                            </div>
                            <p>There is a lot of money moving around in the city and you have to know where to find the right girls for your erotic needs. Most of the visitors coming to Manchester end up spending most of their time in expensive restaurants where they spend a fortune. However, that should not be the case if you&rsquo;re reading this post. We have escort girls in Manchester that will keep you company and make you feel at home right there in your hotel room. If you don&rsquo;t feel like getting out of your hotel room hire any of our Manchester escorts and be entertained without leaving your accomodations. Escort services in Manchester have high standards and we take pride in leading the way. We are the leading Manchester escort agency when it comes to the hottest female escorts Manchester. Book with us today and fulfill those kinky fantasies right here in Manchester. You&rsquo;re guaranteed five-star escort services as our girls are the best in the city.</p><br />
                            <h2>Meet the amazing Manchester escorts</h2>
                            <p>We have featured some of the amazing female escorts Manchester for you to see and pick one. These girls are just a few of what we have in store for you. From native blondes to voluptuous brunettes, we have escort girls in Manchester that will suit your preference and taste. We are a diverse Manchester escort agency that believes in the diversity of the human race and takes pride in having Manchester escorts from all over the world. A look around our site will reveal escort girls from different parts of the world looking sexy and beautiful. These goddesses have been carefully selected by our team who have gone to great lengths to unearth the Manchester escorts with the most discerning features. We select only the hottest escorts as we understand you&rsquo;re looking for something out of the ordinary. Have you already had ordinary and want something more special. This is the difference between our DreamGirlsEngland escort agency and other Manchester escort agencies. Our Manchester escorts are:</p>
                            <div class="video_block">
                                <img src="~/images/girls/paige.jpeg" alt="paige" title="paige" class="img-responsive" />
                            </div>
                            <ul class="unorder_list_disc">
                                <li>Beautiful women</li>
                                <li>Wonderful personalities</li>
                                <li>Intelligent</li>
                                <li>Sumptuous and voluptuous</li>
                                <li>Well-mannered</li>
                                <li>Sophisticated</li>
                                <li>Social and friendly</li>
                            </ul>
                            <p>We look for the best traits when vetting our girls so that you can meet a Manchester escort who will submit to your needs and desires with ease. Our girls have the best temperament and know they are there to make you happy and not the other way around. It is their job to make you happy not because you&rsquo;re paying them but because they love what they do. We don&rsquo;t have escorts who work with our Manchester escort agency because they only need money. We put the needs and desires of our clients first and work to ensure you get the best. With the increase in escort services in Manchester we take pride in leading the way. We lead as other follow us. Girls that cannot meet our strict standards look for jobs in average agencies. We know you don&rsquo;t need an average experience when hiring a professional escort and we try our best to offer you a woman beyond your imagination. We guarantee you a first class service where you feel like the king of the city. You&rsquo;re totally safe in Manchester with our female escorts Manchester making everything much easier. Book in advance and have our escort girls in Manchester prepare to make you happy and fulfilled. You will not regret this decision but live to remember Manchester for the rest of your life.</p><br />
                        </div>
                        <div class="escorts_display_block">
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-lg-9">
                                    <div class="row">
                                        <ul id="portfolio-list">
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/cici.php"><img class="img-responsive" src="~/images/escorts/541.jpg" alt="Cici" title="Cici" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Cici</div>
                                                                <a href="escorts-profile/cici.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 3 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/faye.php"><img class="img-responsive" src="~/images/escorts/542.jpg" alt="Faye" title="Faye" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Faye</div>
                                                                <a href="escorts-profile/faye.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/goldie.php"><img class="img-responsive" src="~/images/escorts/543.jpg" alt="Goldie" title="Goldie" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Goldie</div>
                                                                <a href="escorts-profile/goldie.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 3 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/hana.php"><img class="img-responsive" src="~/images/escorts/544.jpg" alt="Hana" title="Hana" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Hana</div>
                                                                <a href="escorts-profile/hana.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/july.php"><img class="img-responsive" src="~/images/escorts/545.jpg" alt="July" title="July" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">July</div>
                                                                <a href="escorts-profile/july.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/kathi.php"><img class="img-responsive" src="~/images/escorts/546.jpg" alt="Kathi" title="Kathi" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Kathi</div>
                                                                <a href="escorts-profile/kathi.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Black">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/jassica.php"><img class="img-responsive" src="~/images/escorts/576.jpg" alt="Jassica" title="Jassica" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Jassica</div>
                                                                <a href="escorts-profile/jassica.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 3 50-55 101-120 Black">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/josephine.php"><img class="img-responsive" src="~/images/escorts/577.jpg" alt="Josephine" title="Josephine" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Josephine</div>
                                                                <a href="escorts-profile/josephine.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Black">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/kathlen.php"><img class="img-responsive" src="~/images/escorts/578.jpg" alt="Kathlen" title="Kathlen" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Kathlen</div>
                                                                <a href="escorts-profile/kathlen.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Black">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/kinky.php"><img class="img-responsive" src="~/images/escorts/579.jpg" alt="Kinky" title="Kinky" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Kinky</div>
                                                                <a href="escorts-profile/kinky.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Black">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/lenore.php"><img class="img-responsive" src="~/images/escorts/580.jpg" alt="Lenore" title="Lenore" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Lenore</div>
                                                                <a href="escorts-profile/lenore.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            @*<li style="display: block;" class="28-30 2 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/april.php"><img class="img-responsive" src="~/images/escorts/594.jpg" alt="April" title="April" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">April</div>
                                                                <a href="escorts-profile/april.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>*@
                                            <li style="display: block;" class="28-30 3 56-58 121-140 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/bridget.php"><img class="img-responsive" src="~/images/escorts/595.jpg" alt="Bridget" title="Bridget" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Bridget</div>
                                                                <a href="escorts-profile/bridget.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="28-30 2 56-58 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/cassandra.php"><img class="img-responsive" src="~/images/escorts/596.jpg" alt="Cassandra" title="Cassandra" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Cassandra</div>
                                                                <a href="escorts-profile/cassandra.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/diva.php"><img class="img-responsive" src="~/images/escorts/606.jpg" alt="Diva" title="Diva" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Diva</div>
                                                                <a href="escorts-profile/diva.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/liza.php"><img class="img-responsive" src="~/images/escorts/607.jpg" alt="Liza" title="Liza" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Liza</div>
                                                                <a href="escorts-profile/liza.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/lolita.php"><img class="img-responsive" src="~/images/escorts/608.jpg" alt="Lolita" title="Lolita" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Lolita</div>
                                                                <a href="escorts-profile/lolita.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/anastasia.php"><img class="img-responsive" src="~/images/escorts/621.jpg" alt="Anastasia" title="Anastasia" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Anastasia</div>
                                                                <a href="escorts-profile/anastasia.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/anita.php"><img class="img-responsive" src="~/images/escorts/622.jpg" alt="Anita" title="Anita" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Anita</div>
                                                                <a href="escorts-profile/anita.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Brunette">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/athina.php"><img class="img-responsive" src="~/images/escorts/623.jpg" alt="Athina" title="Athina" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Athina</div>
                                                                <a href="escorts-profile/athina.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            @*<li style="display: block;" class="20-23 2 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/lara.php"><img class="img-responsive" src="~/images/escorts/639.jpg" alt="Lara" title="Lara" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Lara</div>
                                                                <a href="escorts-profile/lara.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>*@
                                            <li style="display: block;" class="24-27 3 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/linda.php"><img class="img-responsive" src="~/images/escorts/640.jpg" alt="Linda" title="Linda" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Linda</div>
                                                                <a href="escorts-profile/linda.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="24-27 2 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/margo.php"><img class="img-responsive" src="~/images/escorts/641.jpg" alt="Margo" title="Margo" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Margo</div>
                                                                <a href="escorts-profile/margo.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/marina.php"><img class="img-responsive" src="~/images/escorts/642.jpg" alt="Marina" title="Marina" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Marina</div>
                                                                <a href="escorts-profile/marina.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/natalia.php"><img class="img-responsive" src="~/images/escorts/643.jpg" alt="Natalia" title="Natalia" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Natalia</div>
                                                                <a href="escorts-profile/natalia.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="display: block;" class="20-23 2 50-55 101-120 Blonde">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="escort_display">
                                                        <div class="escorts_pic_block">
                                                            <a href="escorts-profile/nina.php"><img class="img-responsive" src="~/images/escorts/644.jpg" alt="Nina" title="Nina" /></a>
                                                            <div class="escort_description clearfix">
                                                                <div class="escorts_name">Nina</div>
                                                                <a href="escorts-profile/nina.php" class="btn vignate_color pull-right escorts_details_btn">Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom_content_block clearfix">
                                        <h2>The choice for a Manchester escort is at your fingertip</h2>
                                        <p>You don&rsquo;t need to do anything to have your dream Manchester girl come to your hotel room. The choice lies right there with you. Our gorgeous escorts Manchester are ready and willing to spend some quality moments with you. However, they cannot come without you inviting them. You just need to look at our extensive portfolios and make a choice on one companion or two. Of course, there are no rules on how many you should book. Our stunning girls are just a call, a button or a click away. How many of our girls do you think you can handle? My guess, go with one; two at most if you have high energies and are capable of taking what our girls will offer you. Our delectable ladies offer outcall services where they come straight to your hotel room instead of the other way. In fact, when you have your Manchester escort coming over, you get to control the surrounding. There is nothing to worry as our girls are honest and reliable. The fact that they are the ones that come over and not the other way around even makes things better. Just ensure you&rsquo;re alone and free without any visitors coming. However, even with visitors, our girls know how to handle people and will not let you down.</p><br />
                                        <p>If you&rsquo;re in town with some friends then hiring a girl for each one of you will make perfect sense. You can buy drinks and stay indoors with your Manchester escorts the entire evening. It is not a must to visit nightclubs and bars in Manchester to have fun and enjoy life. Our Manchester escorts are the missing ingredient you need to have an epic time in the city. Picking your ideal female escort Manchester should be a simple task but one that possesses challenges to our clients. Most of the clients who stay on our site for too long do so because they can&rsquo;t just decide on the right Manchester escort to hire. We know we have the most admirable and attractive girls in the whole of Manchester but making a decision on one should not be a big task. We don&rsquo;t want to choose for you. Here are a few simple tips to select the ideal female escort Manchester to get your heart racing:</p>
                                        <div class="video_block">
                                            <img src="~/images/girls/ella.jpg" alt="ella" title="ella" class="img-responsive" />
                                        </div>
                                        <ul class="unorder_list_disc">
                                            <li>First, decide on the category of woman you want to spend time with here in Manchester. We have listed our escorts in different categories; Asian, black, Indian and so on.</li>
                                            <li>Once you have the right category, decide on the right age for your escort. We have an escort from as young as 19 years old to 40 years and more. The choice is down to what you want to enjoy. Do you want to go with the young or the more experienced?</li>
                                            <li>Look at finer details like the breast size, weight, and hair. Some men are very detailed on the type of woman they would love to spend time with right here in Manchester. We have indicated these small details on the profiles of our escort girls in Manchester for you to choose.</li>
                                            <li>Lastly, look at the kind of services the escort is willing to offer. This can be done by reading their profiles to see their preferences, tastes, and likes. From here you can narrow your choice to one or two girls and eventually pick one.</li>
                                        </ul>
                                        <p>Once you&rsquo;ve made a choice on the perfect Dream Girl Manchester give us a call or book her online and we will do the rest. We will be more than happy to take over from there and ensure you have your escort in a matter of minutes. Our girls are trained to be professionals at all times and will be on time. You will not wait for them but have the same girl you chose on our DreamGirlsEngland site right there with you as agreed. We never fail our clients but ensure they have their needs and desires met in the best way possible. Give us a call today and let us ensure you have a fantastic time in Manchester. Manchester is a great place to create great memories in life. You will not go wrong taking that chance with our Manchester escorts who are the envy of other cities. They are what you need to remember Manchester by and keep coming back for more. You will turn every dream into reality with our Escort girls Manchester who have everything you desire in a woman. We look forward to serving you soon and ensuring you thank us later.</p><br />
                                        <h2>Soak in the pleasure offered by the Manchester escorts</h2>
                                        <p>Any of our kinky soul mates are well placed to indulge with you in a passionate manner. You can get your time in Manchester on a high by indulging yourself with our intimate female escorts Manchester. Life in Manchester is buzzing but most visitors never get to experience the buzz and they don&rsquo;t know where to get it. Our sizzling beauties are what you need to make your stay in the city both welcoming and erotic. We have DreamGirlsEngland escorts who know how to take the game to a completely new level and offer you unending pleasure that will make you keep coming back for more. Is it a night out you&rsquo;re looking for or just a romantic dinner date? All you need to do is whisper your needs to our amazing escort girls Manchester and everything you request will be done in the most expeditious manner. Our Manchester escorts are more than eager and willing to fulfill your desires.</p><br />
                                        <div class="video_block">
                                            <img src="~/images/girls/matilda.jpg" alt="matilda" title="matilda" class="img-responsive" />
                                        </div>
                                        <p>We know you will feel the heat as you check through the photos of our girls. The real heat is when you&rsquo;re with your Manchester escort in your hotel room. You&rsquo;re at a place where you control the surroundings and are assured no one will bother you. You&rsquo;re free to do things you can&rsquo;t do on our site such as having your escort closer in person and feeling her soft skin. Our Manchester escorts are sexy and deliciously sweet. Dive in and experience as much as you could want from them today. Take your time and enjoy the sensuous experience these girls have to offer. Give your urges a treat today by booking with us and getting your woman to your hotel room. You can go with a seasoned escort or just an amateur escort depending on the experience you desire. Do you have somewhere you need to rush in the next three hours? You can book and enjoy time with your girl for a short time. We have available girls for only 30 minutes to one hour. You just have to put your trust in us and we will deliver. So play now and make your fantasies a reality in a matter of minutes. Whatever your reason for coming to Manchester you will need our hot babes to have a great time.</p><br />
                                        <h2>Why hire the Manchester escorts?</h2>
                                        <p>The Manchester escort girls are professionals in what they do and will stop at nothing to ensure their clients have a great time. Let&rsquo;s just say there is nothing standing in between your fantasies and these girls. They are capable of doing anything their client demands. You just need to make your request and let our escort girls in Manchester do the rest. Hiring an escort girl is not something men do because they can&rsquo;t meet beautiful women in their native countries. This is something guys do because they don&rsquo;t want the complications that come with dating a new girl. You have to invest your time and money on her without the certainty she will fall for you and give you what you desire from her. Furthermore, you want the experience with her to be temporary and secretive. Most guys end up failing after spending much of their time on these girls. However, this is not the case when hiring the DreamGirlsEngland Manchester escorts.</p><br />
                                        <p>A date with our female escorts Manchester is guaranteed to be successful. This is the first thing we assure our clients from the very moment they hire our girls. Our Manchester escorts will not play hard to get or try any monkey business with you as they understand their role and what is required of them. You don&rsquo;t have to beat around the bush or pretend to be something you&rsquo;re not. You just have to be real and come the way you are and our girls will do their part perfectly. This is one of the best reasons to hire Escort girls Manchester. You have nothing preventing you from making a move. Hire with confidence and let us deal with the research behind the girls. What we offer are girls that have been vetted and found to be best placed for an amazing experience. These women work professionally and will not share your personal details or experiences to any other person. Your secrets are safe with her. Your marriage or relationship back home is safe as the girls will not try to contact you later. It is a relationship without any strings attached where both parties get what they want. So, next time you see a guy hiring an escort for entertainment and pleasure, it is not because he can&rsquo;t date a beautiful girl, it is because he doesn&rsquo;t want to deal with the baggage that comes with dating women in general. Instead, he chooses to go to a professional who knows what a man wants from the very onset and goes on to deliver just that. Make sure you don&rsquo;t miss out on this great opportunity to spend time with our DreamGirlsEngland Manchester escorts who are waiting for you.</p><br />
                                        <h2>Things a Manchester escort girl can do for you?</h2>
                                        <div class="video_block">
                                            <img src="~/images/girls/gracie.jpg" alt="gracie" title="gracie" class="img-responsive" />
                                        </div>
                                        <p>There are just so many things a Manchester escort can do for you in the city and make sure you have a superb time in Manchester. It does not matter what brought you to Manchester. At the end of the day, we are all humans and need to feel good and treasured. Who doesn&rsquo;t want a voluptuous woman by his side keeping him company and making him feel special? It is the dream of every straight oriented man to be in the company of a beautiful who cares for his needs and desires. Our Manchester escorts are here to make you happy and fulfilled. There are just so many reasons to hire one and make her yours for the entire evening. Our girls are lovely and capable of delivering a great service that will leave you begging for more. Here are some of the things that you can expect from our girls as you stay in Manchester:</p>
                                        <ul class="unorder_list_disc">
                                            <li>The Manchester escort girls will satisfy all of your erotic desires. You don&rsquo;t have to go out on a dinner dates to have a fantastic time with our girls. They are social and will keep you smiling at all times in your hotel room.</li>
                                            <li>The Manchester escort girls are great companions whenever accompanying you to dinner in the evening. They will dress accordingly and give you the company you desire out there. The female escorts Manchester will bring out the best in you and give you the very best companion.</li>
                                            <li>They double up as your tour guide helping you travel the entirety of Manchester City and its surroundings. The Manchester escort will show you around to the finest restaurants and best spots to be entertained. There is nothing better than having a gorgeous woman as your tour guide in Manchester.</li>
                                            <li>Any of the Escort girls Manchester on our site are capable of giving you the ultimate pleasure that you&rsquo;ve always wished for in life.</li>
                                            <li>You will be able to explore your wildest fantasies with our Manchester girls. Our girls will be your playground to explore and discover more ways to enjoy pleasures.</li>
                                            <li>These stunning escort women Manchester will accompany you to shows, games and any other social events in town where you can relax. You don&rsquo;t have to appear lost in Manchester just because you&rsquo;re new there.</li>
                                        </ul>
                                        <p>There are just so many reasons why you need our DreamGirlsEngland escort agency to serve you right away. We are the solution to having a perfect time in Manchester. Do you want to visit the Old Trafford or the Etihad Stadium for the game? Do it in style with one of our lovely escorts. Football matches in Manchester are a tradition loved by many and you don&rsquo;t want to miss any. The people here love it and getting to watch the match where the atmosphere is fantastic will leave you feeling great. Hire our Manchester escorts and let them accompany you to your favorite team in Manchester. It is one of those things you can look back in life and be glad you hired from us. Our girls are here to make your stay a fantastic one so make sure you don&rsquo;t leave without getting the feel for what they have to offer. You will never regret the decision but leave Manchester with great memories that will last forever. Make it a great time here today and let us serve you in the best way possible. We are the answer to all your needs and desires as you do business or vacation in Manchester. We look forward to having you book with us at any time.</p><br />
                                        <h2>Be absorbed in the realm of pleasure that our Manchester companions offer</h2>
                                        <div class="video_block">
                                            <img src="~/images/girls/emily.jpg" alt="emily" title="emily" class="img-responsive" />
                                        </div>
                                        <p>Fulfill the gamut of erotic emotions in your heart today by hiring our girls. This is your perfect opportunity to turn those kinky fantasies into a reality by making a date with our girls in the city. You will not go wrong hiring any of them as they are both trained and remain professionals in their work. You need to take a break from your busy lifestyle and indulge with our girls who will for sure add some fun and color to your life. When you take a look at the gallery of photos on our site, your desire to meet your dream escort is fulfilled right away. These girls have the most mind-boggling assets that will drive any man crazy. They are classy, sexy and professionals in every of their act. You will not be disappointed by their services but instead look forward to seeing them again.</p><br />
                                        <p>It really does not matter the place you choose to chill with our escorts. Be it in a plush five-star hotel or in the comfort of your home, getting your heart&rsquo;s desire fulfilled is all we look forward to. Our Manchester escorts are eager to visit you at any place and make you feel happy and fulfilled. You just have to pin down the ideal Escort girl Manchester and let us do the rest. The escorts come fully equipped to add some fun and spice into your life in the city and make you feel satisfied. We have escorts from Cheshire to all parts of Manchester all looking to spend an evening with you. Our girls have erotic pleasure for every gentleman looking to spend an evening with them. If you have trouble selecting the ideal Manchester escort for your needs and desires, get in touch with us. Our able staff will help you choose one that is ideal based on your preference. We have girls for every taste our clients have and promise you a lifetime experience.</p><br />
                                        <h2>Manchester escorts: the ultimate pleasure triggers</h2>
                                        <p>We know our girls are the hottest thing you will ever meet in Manchester. They are the bearers of great pleasure and the sheer look of their photos will make you yearn for them. We competitively price our girls so that you can have them for as long as you want them. Our girls will not charge you based on the number or kind of services they deliver but the number of hours you want to spend with them. What they do; they do it for free and because they want to do it. You only get to pay for the time they get to spend with you. Remember time is money and you will need enough as these girls will be too sweet to let go in an hour or so. No matter the type of encounters you&rsquo;re looking for, these girls are smooth and easy on the pocket. We as an agency are not after exploiting your finances just because you feel lustful as we will need you over and over again. We want to give you the best at a great value so that you keep coming back. Are you looking for a party girl, a girlfriend experience, a dinner date or just a way to have pleasure? Give us a call and let us make suggestions. We even have escorts that will accompany you to sightseeing as you look forward to a great time in Manchester.</p><br />
                                        <div class="video_block">
                                            <img src="~/images/girls/ruby.jpg" alt="ruby" title="ruby" class="img-responsive" />
                                        </div>
                                        <p>Our Manchester escorts can sometimes be booked. We advise that you make an early booking from our DreamGirlsEngland escort agency today so that the girls can be available and prepare accordingly for you. However, we still have girls ready whenever you need to meet one within an hour or so. Advance booking is highly recommended as one hour will not be enough with our girls. Book her for the entire weekend and be in for a time to remember. With early booking you can be sure to avoid any disappointment as our girls need enough time to be ready for you.</p><br />
                                        <h2>Choosing our DreamGirlsEngland escort agency</h2>
                                        <p>When you need the very best of the Manchester escorts, do not look any further than our DreamGirlsEngland escort agency. We are the leading escort agency in Manchester and the entire of England with girls of your choice at any time of the day or night. We never take a break from our desks as there is always someone to respond to your call and answer your queries. Get ready and take the pleasure train with us. Hire from us today and get to benefit in so many ways. Here are just a few reasons for you to hire from us right away:</p>
                                        <ul class="unorder_list_disc">
                                            <li>We are not the cheapest Manchester escort agency but do have some of the most affordable rates. Our escort rates are competitively priced and offer a great value for our clients.</li>
                                            <li>You&rsquo;re assured of a great service from the escort as they are trained and remain professionals in their jobs. They need good referrals and always deliver to impress their clients.</li>
                                            <li>We have a variety of women to pick from making us the most diverse escort agency in Manchester.</li>
                                            <li>Our Manchester escorts are honest and reliable. They can be relied upon to serve you without anything else in mind. They are not cons and will not try to harm you or steal from you. You have nothing to worry when in the company of our DreamGirlsEngland escorts.</li>
                                            <li>Our services are professional and available at all times of the day and night. Give us a call even in the middle of the night and we will send you a girl within an hour or less.</li>
                                        </ul>
                                        <p>We are an agency that relies on referrals for new clients and always do our best to provide you with genuine and honest Manchester escorts. You have nothing to lose or worry when hiring from us. Make it a reality today by booking any of these lovely Manchester escorts right away.</p><br />
                                        <h2>Contact Us</h2>
                                        <p>
                                            Phone: <a href="tel:+447520635750">+44 (752) 063-5750</a><br />
                                            Email: <a href="mailto:info@dreamgirlsengland.com">info@dreamgirlsengland.com</a>
                                        </p><br />
                                        <h3>Map</h3>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4945419.546768135!2d-6.804871865799057!3d52.75464363741706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d0a98a6c1ed5df%3A0xf4e19525332d8ea8!2sEngland%2C+UK!5e0!3m2!1sen!2sua!4v1496318900700" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-3">
                                    <div class="advance_filter_container">
                                        <h3 class="vignate_color">Advance Filter</h3>
                                        <div class="advance_filter_block">
                                            <h5>Age</h5>
                                            <div class="filter_option">
                                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                                    <li><a href="#20-23" title="" rel="20-23">20-23</a></li>
                                                    <li><a href="#24-27" title="" rel="24-27">24-27</a></li>
                                                    <li><a href="#28-30" title="" rel="28-30">28-30</a></li>
                                                    <li><a href="#all" title="">All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="advance_filter_block">
                                            <h5>Bust</h5>
                                            <div class="filter_option">
                                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                                    <li><a href="#1" title="" rel="1">1</a></li>
                                                    <li><a href="#2" title="" rel="2">2</a></li>
                                                    <li><a href="#3" title="" rel="3">3</a></li>
                                                    <li><a href="#4-5" title="" rel="4-5">4-5</a></li>
                                                    <li><a href="#all" title="">All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="advance_filter_block">
                                            <h5>Height</h5>
                                            <div class="filter_option">
                                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                                    <li><a href="#50-55" title="" rel="50-55">5'0"-5'5"</a></li>
                                                    <li><a href="#56-58" title="" rel="56-58">5'6"-5'8"</a></li>
                                                    <li><a href="#59-6" title="" rel="59-6">5'9"-6'+</a></li>
                                                    <li><a href="#all" title="">All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="advance_filter_block">
                                            <h5>Weight</h5>
                                            <div class="filter_option">
                                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                                    <li><a href="#80-100" title="" rel="80-100">80-100</a></li>
                                                    <li><a href="#101-120" title="" rel="101-120">101-120</a></li>
                                                    <li><a href="#121-140" title="" rel="121-140">121-140</a></li>
                                                    <li><a href="#141-160" title="" rel="141-160">141-160</a></li>
                                                    <li><a href="#all" title="">All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="advance_filter_block">
                                            <h5>Hair Color</h5>
                                            <div class="filter_option">
                                                <ul id="portfolio-filter" style="margin-top:5px !important;">
                                                    <li><a href="#Black" title="" rel="Black">Black</a></li>
                                                    <li><a href="#Brunette" title="" rel="Brunette">Brunette</a></li>
                                                    <li><a href="#Blonde" title="" rel="Blonde">Blonde</a></li>
                                                    <!-- <li><a href="#Red" title="" rel="Red">Red</a></li>-->
                                                    <li><a href="#all" title="">All</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer_part">
                    <div class="footer_panel">
                        <a href="/"><img src="~/images/footer_logo.png" alt="DreamGirlsEngland" title="DreamGirlsEngland" class="img-responsive" /></a>
                        <div class="copyright_area">
                            <p>Copyright &copy; @DateTime.Now.Year, <a href="/">DreamGirlsEngland</a> All Rights Reserved.</p>
                        </div>
                        <div class="footer_link">
                            <a href="/">Home</a>
                            <a href="/about.php">About Us</a>
                            <a href="/booking.php">Booking</a>
                            <a href="/contact.php">Contact Us</a>
                            <a href="/employment.php">Employment</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>