@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="main_container_block escorts_profile_container">
    <h1 class="heading">404 Not Found</h1>

    <div class="container_area border_radius bg_new_york">

        <!--all container load into this div-->
        <div class="common_page_container clearfix">


            <p>The Page you are looking for cannot be found.</p>
        </div>
        <!--end all container load div-->

    </div>
</div>