/* Dream Girls Atlanta css- Liakat - 11th August 2016 */
/* Design by ServerPipe.com */


*{margin:0; padding:0;}

body {
  font-family:'Droid Sans', Arial, Tahoma, Geneva, sans-serif;
  font-size:13px;
  background: url(../images/bg_main_img.jpg) no-repeat top center #000;
  padding:0;
  margin:0;	
}
.bg_img_style{
	background-position:center top !important;
	background-attachment:fixed !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
.bd_img_fixed_style{
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
	overflow-x:none;
	overflow-y:scroll;
}
form{
	margin:0;
}
a {
  color: #c79e52;
  text-decoration:none;
  outline:0 none;
}

a:hover,
a:focus {
  color: #FFFFFF;
  text-decoration: none;
  outline:0 none;
}

p{
	font-family:'Droid Sans', Arial, Tahoma, Geneva, sans-serif;
	font-weight:400;
	text-align:left;
	font-size:14px;
	line-height:20px;
	color:#a3a3a3;
	margin:0;
}

/* header style */
h1, h2, h3, h4, h5, h6 {
	font-family:'Droid Sans', Arial, Tahoma, Geneva, sans-serif;
	color:#b4823b;
	font-style:normal;
	font-weight:700;
	margin:0;
}
/*FONT SIZE*/
h1{
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size:21px;
}
h4 {
    font-size:18px;
}
h5{
    font-size:16px;
}
h6 {
    font-size:14px;
}

.container {
    max-width:1030px;
}
.wrapper_body{
	margin-bottom:50px;
}
h1.heading{
	color:#f4004b;
	font-size:40px;
	margin-bottom:20px;
}

.vignate_color{
/*	background-color:#f9006f;
	background-image:-moz-linear-gradient(top, #f7e300, #f9006f);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7e300), to(#f9006f));
	background-image:-webkit-linear-gradient(top, #f7e300, #f9006f);
	background-image:-o-linear-gradient(top, #f7e300, #f9006f);
	background-image:linear-gradient(to bottom, #f7e300, #f9006f);
	background-repeat:repeat-x;
	border-color:#f7e300;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7e300', endColorstr='#fff9006f', GradientType=0);*/
	
	background-color:#630000;
	background-image:-moz-linear-gradient(top, #e20000, #630000);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e20000), to(#630000));
	background-image:-webkit-linear-gradient(top, #e20000, #630000);
	background-image:-o-linear-gradient(top, #e20000, #630000);
	background-image:linear-gradient(to bottom, #e20000, #630000);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe20000', endColorstr='#ff630000', GradientType=0);
	
	color:#FFF;
}

.red_button{
	display:inline-block;
	padding:8px 10px;
	text-align:center;
	color:#FFF;
	font-weight:700;
	font-size:14px;
	background-color:#630000;
	background-image:-moz-linear-gradient(top, #e20000, #630000);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e20000), to(#630000));
	background-image:-webkit-linear-gradient(top, #e20000, #630000);
	background-image:-o-linear-gradient(top, #e20000, #630000);
	background-image:linear-gradient(to bottom, #e20000, #630000);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe20000', endColorstr='#ff630000', GradientType=0);
	
border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}			
.view_gallery_btn{
	text-align:center;
}
.common_btn{
	text-align:center;
	text-transform:uppercase;
	font-size:16px;
	display:block;
	width:100%;
}


/* header block */
.header_part{
	position:relative;
	background:rgba(157,0,11,.2);
	border-bottom:2px solid #7e0000;
}
.brand_logo{
	position:relative;
	display:block;
	margin-top:30px;
	margin-bottom:10px;
}

.brand_logo a.main_logo{
	margin:5px 10px;
}

.header_right_informations{
	float:right;
	display:block;
	margin-top:30px;
	margin-bottom:10px;
}
.love_icon, .chat_icon, .phone_no_time{
	display:inline;
	margin-left:20px;
	font-size:14px;
	font-weight:400;
	font-family:'Droid Sans';
}

.love_icon{
}
.chat_icon{
}
.phone_no_time{
	float:right;
	color:#ce8829;
	display:inline;
	font-size:14px;
}
.phone_no{
	display:inline-block;
	border-right:1px solid #716553;
	padding-right:10px;
	font-size:21px;
	font-weight:700;
}
.phone_no span{
	display:block;
	font-size:14px;
	font-weight:400;
	font-family:'Droid Sans';
}
.time_schedule{
	display:inline-block;
	padding-left:10px;
}


@media (min-width: 768px) {}
@media (max-width: 767px) {
.brand_logo{
	margin-top:15px;
	margin-bottom:15px;
}
.brand_logo img{
	display:inline-block;
}
.header_part{
	display:block;
	text-align:center;
}
.header_right_informations{
	float:none;
	margin-top:15px;
}
.love_icon, .chat_icon, .phone_no_time{
	margin-left:5px;
}
.phone_no_time{
	float:none;
}
}
@media (min-width: 768px) and (max-width: 991px){
.love_icon, .chat_icon, .phone_no_time{
	margin-left:10px;
}
}
@media (min-width: 641px) and (max-width: 767px){}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 320px) and (max-width: 479px){}


	
/* navigation style */
.navigation_part{
	/*background:#b57918;*/
	margin-top:10px;

	background-color:#a16724;
	background-image:-moz-linear-gradient(top, #f7e38c, #a16724);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7e38c), to(#a16724));
	background-image:-webkit-linear-gradient(top, #f7e38c, #a16724);
	background-image:-o-linear-gradient(top, #f7e38c, #a16724);
	background-image:linear-gradient(to bottom, #f7e38c, #a16724);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7e38c', endColorstr='#ffa16724', GradientType=0);	
	
	border-top-left-radius:6px;
		-moz-border-top-left-radius:6px; -webkit-border-top-left-radius:6px; -o-border-top-left-radius:6px;
	border-top-right-radius:6px;
		-moz-border-top-right-radius:6px; -webkit-border-top-right-radius:6px; -o-border-top-right-radius:6px;		
	
}

nav{display:block;
margin:0px;
}

.menu{display:block; margin-bottom:0; text-align:center;}

.menu li{display: inline-block;
position: relative;
z-index:100;
}

.menu li:first-child{margin-left:0;}

.menu li a {
font-size:14px;
font-weight:700;
font-family:"Droid Sans", "OpenSansBold", Tahoma, Geneva, sans-serif;
text-transform:uppercase;
text-decoration:none;
padding:15px 30px;
margin:0 5px;
display:block;
color:#1c1c1c;
text-align:center;

	-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{
	color:#FFF;
/*	background:#6f4500;*/
background-color:#630000;
	background-image:-moz-linear-gradient(top, #e20000, #630000);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e20000), to(#630000));
	background-image:-webkit-linear-gradient(top, #e20000, #630000);
	background-image:-o-linear-gradient(top, #e20000, #630000);
	background-image:linear-gradient(to bottom, #e20000, #630000);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe20000', endColorstr='#ff630000', GradientType=0);
}

.menu ul {display: none;
margin: 0 !important;
padding: 0;
width:200px;
position: absolute;
top:50px;
left:0px;
background:none;
}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
border:0 none;
}

.menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#FFF;
border-top:1px solid #000;
/*border-right:5px solid #b57918;
border-left:5px solid #b57918;*/
font-family:'OpenSansRegular';
text-align:left;

background-color:#630000;
	background-image:-moz-linear-gradient(top, #e20000, #630000);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e20000), to(#630000));
	background-image:-webkit-linear-gradient(top, #e20000, #630000);
	background-image:-o-linear-gradient(top, #e20000, #630000);
	background-image:linear-gradient(to bottom, #e20000, #630000);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe20000', endColorstr='#ff630000', GradientType=0);
}
.menu ul li > a{
padding:10px 15px;
}
.menu ul li a:hover, .menu ul li:hover > a{
	background-color:#a16724;
	background-image:-moz-linear-gradient(top, #f7e38c, #a16724);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7e38c), to(#a16724));
	background-image:-webkit-linear-gradient(top, #f7e38c, #a16724);
	background-image:-o-linear-gradient(top, #f7e38c, #a16724);
	background-image:linear-gradient(to bottom, #f7e38c, #a16724);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7e38c', endColorstr='#ffa16724', GradientType=0);	
/*border-left:5px solid #6f4500;
border-right:5px solid #6f4500;*/
color:#000;
}

.menu li:hover > ul{ display: block;}
.menu ul ul {left: 149px;
	top: 0px;
}
.menu ul li ul.sub-menu li a{
padding:8px 15px;
}

.mobile-menu{display:none;
width:100%;
padding:11px;
/*background:#b57918;*/
color:#202020 !important;
text-transform:uppercase;
font-weight:600;

	background-color:#a16724;
	background-image:-moz-linear-gradient(top, #f7e38c, #a16724);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7e38c), to(#a16724));
	background-image:-webkit-linear-gradient(top, #f7e38c, #a16724);
	background-image:-o-linear-gradient(top, #f7e38c, #a16724);
	background-image:linear-gradient(to bottom, #f7e38c, #a16724);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7e38c', endColorstr='#ffa16724', GradientType=0);	

	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}
.mobile-menu:hover{/*background:#da8905;*/
color:#ffffff;
text-decoration:none;


	background-color:#935c1d;
	background-image:-moz-linear-gradient(top, #fbe16e, #935c1d);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbe16e), to(#935c1d));
	background-image:-webkit-linear-gradient(top, #fbe16e, #935c1d);
	background-image:-o-linear-gradient(top, #fbe16e, #935c1d);
	background-image:linear-gradient(to bottom, #fbe16e, #935c1d);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbe16e', endColorstr='#ff935c1d', GradientType=0);

	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}


@media (min-width: 768px) and (max-width: 991px) {
.navigation_part{
	margin-top:30px;
}
.mainWrap{width:auto;}
.menu ul {top:40px; width:180px;}
.menu li a{padding:10px 11px; margin:0 5px !important; font-size:14px;}
}

@media (max-width: 767px) {
.navigation_bar_top{
	padding:0px;
}
.nav_ber_part{float:none;}
.mainWrap{width:auto;padding:0px;}
.menu{display:none;}
.mobile-menu{
	display:block;
}

nav{margin:0;background:none;}
.menu li{display:block; margin:0; border:0 none;}

.menu li a {
text-align:left;
background:#bc8e45;
color:#FFF;
border:1px solid #202020;
margin:0;
}

.menu li a:hover, .menu li:hover > a{
background:#e09f38;
color:#FFF;
/*border-left:3px solid #f0b150;*/
}



.menu ul {
display:block;
position:relative;
top:0;
left:0;
width:100%;
}

.menu ul ul {left:0;}
}

@media (min-width: 992px) and (max-width: 1025px){
.menu li a{
	padding:10px 25px;
}
}
		

/* Banner style */
.banner_part{
	background:rgba(0,0,0,.8);
	position:relative;
	margin-bototm:30px;
}
.scrool_banner_gallery{
	padding:10px;
}
.banner_controller_block{
	background:#18181b;
	padding:10px;
}


/* main container */
.main_container_block{
	display:block;
	margin:20px 0;
}
.left_col_content, right_col_content{}

/* Left Col Style */
.left_col_content{}
.common_margin{
	margin-bottom:20px;
}
.vertical_navigation{
}
.vertical_navigation ul{
	display:block;
	padding:0;
	margin:0;
}
.vertical_navigation ul li{
	display:block;
	list-style:none;
	margin-bottom:5px;
}
.vertical_navigation ul li a{
	color:#ad9f88;
	display:block;
	font-size:13px;
	text-transform:uppercase;
	text-align:left;
	font-weight:700;
	padding:7px 10px 7px 15px;
	
	background-color:#4e3e20;
	background-image:-moz-linear-gradient(top, #4e3e20, #171307);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4e3e20), to(#171307));
	background-image:-webkit-linear-gradient(top, #4e3e20, #171307);
	background-image:-o-linear-gradient(top, #4e3e20, #171307);
	background-image:linear-gradient(to bottom, #4e3e20, #171307);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e3e20', endColorstr='#ff171307', GradientType=0);

	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;	
}

.vertical_navigation ul li a span.menu_arrow{
	background:url(../images/menu_arrow.png) no-repeat center right;
	height:15px;
	width:13px;
	display:inline-block;
	float:right;
}
	
.vertical_navigation ul li a:hover{
	color:#FFF;
	background-color:#630000;
	background-image:-moz-linear-gradient(top, #e20000, #630000);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e20000), to(#630000));
	background-image:-webkit-linear-gradient(top, #e20000, #630000);
	background-image:-o-linear-gradient(top, #e20000, #630000);
	background-image:linear-gradient(to bottom, #e20000, #630000);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe20000', endColorstr='#ff630000', GradientType=0);
}

.ad_block{

}

.left_col_link{
}
.left_col_link ul{
	display:block;
	padding:0;
	margin:0;
}
.left_col_link ul li{
	display:block;
	list-style:none;
	margin-bottom:3px;
}
.left_col_link ul li a{
	color:#ad9f88;
	display:block;
	font-size:14px;
	text-transform:uppercase;
	text-align:left;
	font-weight:700;
	padding:2px 0px;
}
	
.left_col_link ul li a:hover{
	color:#b4823b;
}

.newsletter_block{
	display:block;
}
.newsletter_block h3{
	display:block;
	font-size:21px;
	color:#ad9f88;
	text-transform:uppercase;
	text-align:left;
	padding-bottom:5px;
	border-bottom:1px solid #ad9f88;
	margin-bottom:10px;
}
.newsletter_block p{
	color:#9a9a9a;
	text-align:left;
	padding-bottom:15px;
}
.search_custom_box{
	background-color:#939393;
	border:1px solid #616161;
	color:#232323;
	margin-bottom:10px;
}

@media (min-width: 768px) {}
@media (max-width: 767px) {
.vertical_navigation ul li{
	margin-bottom:2px;
}
.ad_block img{
	width:100%;
}
}
@media (min-width: 768px) and (max-width: 991px){
.newsletter_block h3{
	display:block;
	font-size:18px;
	color:#ad9f88;
	text-transform:uppercase;
	text-align:left;
	padding-bottom:5px;
	border-bottom:1px solid #ad9f88;
	margin-bottom:10px;
}
.vertical_navigation ul li{
	margin-bottom:2px;
}
}
@media (min-width: 641px) and (max-width: 767px){}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 320px) and (max-width: 479px){
}


/* Right Col Style */
.right_col_content{}
.receommended_block{
}
.receommended_block h3{
	text-align:center;
	font-size:24px;
	color:#bc8f45;
	margin-bottom:10px;
}
.receommended_block h3 span{
	display:block;
	color:#FFF;
	font-weight:400;
	font-size:16px;
}
.girls_photo{
	margin-top:15px;
}
.name_line{
	color:#ad9f88;
	font-size:14px;
	text-align:center;
	display:block;
	margin-top:10px;
}
.name_line a{
	color:#ad9f88;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
}
.name_line span.sub_tagline{
	display:block;
	text-align:left;
	font-size:13px;
	padding-top:10px;
}
.girls_photo p{
	display:block;
	padding:10px 0;
	font-size:12px;
	line-height:normal;
	color:#606060;
}

	.girls_block{
		margin-bottom:20px;
	}
	.girls_photo_block{
		width:70px;
		height:70px;
		float:left;
		margin-right:10px;
	}
	.girls_list_info{
		float:left;
		width:140px;
	}
	.girls_list_info h5{
		color:#c79e52;
		font-size:16px;
		font-weight:700;
		font-family:'Droid Sans';
	}
	.girls_list_info p{
		color:#616161;
		padding-top:5px;
		padding-right:0px;
		font-size:13px;
		line-height:18px;
		line-height:normal;
		font-family:'Droid Sans';
	}
	.girls_list_info p a{
	font-size:12px;
	}


@media (min-width: 768px) {}
@media (max-width: 767px) {
.girls_photo img{
	width:100%;
}
}
@media (min-width: 768px) and (max-width: 991px){
.receommended_block h3{
	font-size:18px;
}
.receommended_block h3 span{
	font-size:14px;
}
.girls_photo_block{
		width:50px;
		height:50px;
		margin-right:5px;
	}
	.girls_list_info{
		float:left;
		width:100px;
	}
}
@media (min-width: 641px) and (max-width: 767px){}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 320px) and (max-width: 479px){}







/* Container Col Style */
.container_area{
}
.page_title{
	background:rgba(0,0,0,.85);
	padding:8px 15px;
	margin-bottom:0px;
}
.page_title h1{
	font-size:24px;
}

.profile_page_title{
	display:block;
	position:relative;
	margin-bottom:50px;
}
.profile_page_title h1{
	text-align:center;
	color:#b4823b;
	border-bottom:1px solid #3a3a3a;
	padding-bottom:5px;
}
a.header_left_link, a.header_right_link{
	color:#535353;
}
.header_left_link{
	position:absolute;
	left:0;
	top:0;
}
.header_right_link{
	position:absolute;
	right:0;
	top:0;
}

.ad_banner_block{
	display:block;
	margin:25px 0 10px;
}


.container_area p{
	padding:0 0 10px;
}
.container_area h5{
	padding:10px 0;
}

@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 641px) and (max-width: 767px){}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 320px) and (max-width: 479px){}


/* footer part */
.footer_part{
	display:block;
}
.footer_part p{
	color:#5a5a5a;
	font-size:13px;
	line-height:normal;
	padding:10px 0 30px;
}

.footer_panel{
	background:#1d1d1d;
	margin:20px 0;
}
.footer_panel a{
	margin-bottom:5px;
	display:inline-block;
}

.footer_link{
	padding:10px 70px;
	display:block;
	text-align:center;
}
.footer_link ul{
	display:block;
	padding:0;
	margin:0;
}
.footer_link ul li{
	display:inline-block;
	list-style:none;
	margin-bottom:5px;
}
.footer_link ul li a{
	color:#929090;
	display:inline-block;
	font-size:13px;
	text-transform:capitalize;
	text-align:center;
	font-weight:400;
	padding:2px 30px;
}
.footer_link ul li a:hover{
	color:#f7b14d;
}
		
.footer_logo_bar{
	display:block;
	text-align:center;
	padding:10px 0;
	background-color:#1d1d1d;
	background-image:-moz-linear-gradient(top, #1d1d1d, #0c0c0c);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1d1d1d), to(#0c0c0c));
	background-image:-webkit-linear-gradient(top, #1d1d1d, #0c0c0c);
	background-image:-o-linear-gradient(top, #1d1d1d, #0c0c0c);
	background-image:linear-gradient(to bottom, #1d1d1d, #0c0c0c);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1d', endColorstr='#ff0c0c0c', GradientType=0);
}
.footer_logo_bar img{
	display:inline-block;
	text-align:center;
}


.copyright_area{
	background:#121212;
	padding:15px 0;
}
.copyright_area p{
	color:#5d5d5d;
	font-size:13px;
	line-height:18px;
	font-family:'Droid Sans';
	text-align:center;
}

@media (min-width: 768px) {}
@media (max-width: 767px) {
.footer_link{
	padding:10px 20px;
}
.footer_link ul li a{
	padding:2px 15px;
}
}
@media (min-width: 768px) and (max-width: 991px){
.footer_link ul li a{
	padding:2px 15px;
}
}
@media (min-width: 641px) and (max-width: 767px){}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 320px) and (max-width: 479px){}





/* Inner style */
.inner_container{
	margin-top:0px;
}
.inner_container_area{
	background:rgba(0,0,0,.6);
	padding:20px;
}






	
/* previous style part */
.static_banner_part{
	position:relative;
	margin-top:20px;
	background:rgba(57,12,0,.5);
	border-radius:10px;
		-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
}

/*.banner_part img{
	border-radius:10px;
		-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
}*/
.banner_part img.main_banner{
	opacity:.5;
	filter: alpha(opacity=50);
}
.banner_content{
	padding:20px;
	width:42%;
	position:absolute;
	top:50px;
	right:0;
}
.static_banner_content{
	position:relative;
	padding:40px;
	text-align:center;
}
.banner_content p, .static_banner_content p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:21px;
	text-align: center;
}
.banner_content img, .static_banner_content img{
	display:block;
	text-align:center;
	margin-bottom:10px;
}
.static_banner_content img{
	display:inline-block;
}

@media (min-width: 768px) {}
@media (max-width: 767px) {
.banner_content{
	padding:10px;
	width:100%;
	top:0;
	position:relative;
}
.static_banner_content{
	padding:10px;
}
.banner_content p{
	font-size:12px;
	line-height:16px;
}	
}
@media (min-width: 768px) and (max-width: 991px){
.banner_content{
	padding:10px;
	width:60%;
	top:30px;
}
.static_banner_content{
	padding:20px;
}
.banner_content p{
	font-size:14px;
	line-height:18px;
}	
}



.border_radius{
	border-radius:10px;
		-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
}
.bg_new_york{
	padding:5px;
	/*background:#ffdce0;*/
	background:rgba(57,12,0,.5);
}
.bg_pink{
	padding:5px;
	/*background:#ffdce0;*/
	background:rgba(255,220,224,.5);
}
.bg_gray{
	/*background:#131313;*/
	background:rgba(20,20,20,.6);
}



/* escorts display */
.escort_display{
	position:relative;
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:10px;
		-moz-border-radius:10px; -o-border-radius:10px;-webkit-border-radius:10px;	
}
.escorts_pic_block{
	position:relative;
}
.escorts_display_block .row{
	margin-left:0px;
	margin-right:0px;
}
.escorts_display_block .row .col-lg-3,
.escorts_display_block .row .col-md-4,
.escorts_display_block .row .col-sm-4{
	padding-left:5px;
	padding-right:5px;
}
.escort_display a img{
	width:100%;
	border-radius:10px;
		-moz-border-radius:10px; -o-border-radius:10px;-webkit-border-radius:10px;
}
.escort_thumb{
	position:relative;
	display:block;
	width:227px;
	height:280px;
}
.escort_description{
	background:#222222;
	display:block;
	width:100%;
	padding:7px 10px;
	margin:3px 0;
	border-radius:10px;
		-moz-border-radius:10px; -o-border-radius:10px;-webkit-border-radius:10px;	
}
.escort_description h3{
	font-family:'Droid Serif';
	text-align:center;
	font-weight:700;
	color:#FFF;
}
.escort_description p{
	color:#a7a7a7;
	font-size:13px;
	text-align:center;
	line-height:16px;
	width:100%;
	text-shadow:0 2px 0 #000; -moz-text-shadow:0 2px 0 #000; -webkit-text-shadow:0 2px 0 #000; -o-text-shadow:0 2px 0 #000; 
}
div.escorts_name{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	color:#fff;
	display:block;
	padding-bottom:3px;
}
a.escorts_details_btn{
	padding:7px 18px;
	color:#FFF;
	font-size:16px;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	border:0 none;
	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}
@media (min-width: 768px) {}
@media (max-width: 767px) {
.escort_display{
	margin-top:5px;
	margin-bottom:10px;
}
}
@media (min-width: 480px) and (max-width: 640px){	
.escorts_display_block .row .col-xs-12{
	width:50%;
}	
}
@media (min-width: 768px) and (max-width: 991px){}


@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 768px) and (max-width: 991px){}



/* Inner page style */

/* escorts page */
.escorts_display_page{}
.escorts_display_block .row .row{
	margin-left:0px;
	margin-right:0px;
}
.escorts_display_block .row .col-lg-9,
.escorts_display_block .row .col-md-8,
.escorts_display_block .row .col-sm-8{
	padding-left:0px;
	padding-right:5px;
}
.escorts_display_block .row .col-lg-3,
.escorts_display_block .row .col-md-4,
.escorts_display_block .row .col-sm-4{
	padding-left:5px;
	padding-right:0px;
}

.escorts_display_block .row .col-lg-4,
.escorts_display_block .row .col-md-4,
.escorts_display_block .row .col-sm-4{
	padding-left:5px;
	padding-right:5px;
}
@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 768px) and (max-width: 991px){
.escorts_display_page a.escorts_details_btn{
	padding:5px 10px;
	font-size:14px;
	margin-top:3px;
}
}

/* filter style */

.advance_filter_container{
}
.advance_filter_container h3{
	padding:10px 12px;
	text-align:center;
	color:#202020;
	margin-bottom:15px;
	margin-top:10px;
	display:block;
	
	border-radius:10px;
		-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
}
.advance_filter_block{
	margin:10px 0;
}
.advance_filter_block h5{
	font-family:'Droid Sans';
	text-transform:uppercase;
	font-size:14px;
	padding:5px 10px;
	color:#202020;
	background:#f9697b;
	border-radius:6px;
		-moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;
}
.filter_option{
	margin-top:10px;
	display:inline-block;
}
.filter_option a{
	background:#202020;
	padding:5px 12px;
	color:#7bff83;
	transition:all .2s ease 0s; -moz-transition:all .2s ease 0s; -webkit-transition:all .2s ease 0s; -o-transition:all .2s ease 0s;
	margin-right:3px;
	margin-bottom:3px;
	display:inline-block;
	border-radius:4px;
		-moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px;
}
.filter_option a:hover{
	background:#f9dd00;
	color:#202020;
}


/* profile page */
.escorts_profile_container{}
.escorts_profile_container .container_area{
	/*width:70%;*/
	padding:20px 20px 30px;
}
.profile_photo_display_block{
}
.profile_preview_img{
	position:relative;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
}
.profile_preview_img img{
	border:8px solid #202020;
}
.thumb_img{
	margin:10px 0 10px;
	position:relative;
}
.thumb_img a{
	width:16%;
	margin-right:7px;
	display:inline-block;
}
.thumb_img a:hover{
	opacity:.8;
}
.profile_information{
}
.profile_information{}
.profile_information .table tbody > tr > td{
	padding:5px 12px 5px 0;
	border:0 none;
	color:#FFF;
	text-align:right;
}
.profile_information .table tbody > tr > td span{
	text-align:left;
	display:block;
	color:#f7b14d;
}
.about_escorts{
	margin:10px 0;
}
.about_escorts p{
	text-align:left;
	color:#d3d3d3;
}
.price_block, .booking_block_tab{
	color:#d4d4d4;
	display:block;
	margin-top:20px;
}
.price_block h2, .booking_block_tab h2{
	display:block;
	font-family:'Lobster13Regular', 'Droid Serif', Tahoma, Geneva, sans-serif;
	/*font-size:30px;*/
	padding-bottom:15px;
}
.price_block span{
	display:inline-block;
	padding-left:20px;
	color:#d4d4d4;
}
.booking_block_tab{
	display:block;
	text-align:left;
}

/* common pag estyle */
.common_page_container{
	margin:10px 0;
}
.about_escorts p{
	text-align:left;
	color:#d3d3d3;
}
.breadcums_block{
	margin-top:10px;
}
.breadcums_block ol.breadcrumb{
	background-color:transparent;
}
.breadcums_block ol.breadcrumb li a{
	color:#f9dd00;
}

.booking_panel{
	width:70%;
}
.booking_panel .custom_label_text{
    font-family: "Droid Sans";
    font-size: 14px;
	color:#cacaca;

}
.booking_panel .custom_box{
	background-color:#505050;
	border:1px solid #090909;
	color:#f7b14d;
}

@media (min-width: 768px) {}
@media (max-width: 767px) {
.escorts_profile_container .container_area{
	width:100%;
	padding:20px 20px 30px;
}
.price_block{
	margin:10px 0;
}
.booking_block_tab{
	text-align:left;
	margin-top:20px;
}
.booking_panel{
	width:100%;
}
}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 768px) and (max-width: 991px){
.booking_panel{
	width:80%;
}
}



@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 768px) and (max-width: 991px){}



.escorts_display_block .row .col-lg-9,
.escorts_display_block .row .col-md-8,
.escorts_display_block .row .col-sm-8{
	padding-left:0px;
	padding-right:5px;
}
.escorts_display_block .row .col-lg-3,
.escorts_display_block .row .col-md-4,
.escorts_display_block .row .col-sm-4{
	padding-left:5px;
	padding-right:0px;
}

.escorts_display_block .row .col-lg-4,
.escorts_display_block .row .col-md-4,
.escorts_display_block .row .col-sm-4{
	padding-left:5px;
	padding-right:5px;
}


#portfolio-list{}
ul#portfolio-list li{
	width:32%;
}
#portfolio-list .col-xs-12.col-sm-4.col-md-4.col-lg-4{
	width:100%;
}

@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px){
#portfolio-list .col-xs-12.col-sm-4.col-md-4, #portfolio-list .col-xs-12.col-sm-4{
	width:100%;
}
}
@media (min-width: 641px) and (max-width: 767px){
#portfolio-list .col-xs-12{
	width:48%;
}
}
@media (min-width: 480px) and (max-width: 640px){
#portfolio-list .col-xs-12{
	width:48%;
}
}
@media (min-width: 320px) and (max-width: 479px){
#portfolio-list .col-xs-12{
	width:100%;
}
}




/* advance filter stylesheet */
/* Content - Portfolio Listing */

ul#portfolio-filter {
margin: 5px 0;
padding: 0;

/*height: 64px;
padding-left: 70px;
line-height: 64px;
background: transparent url(../images/icon-tag-green.png) left no-repeat;*/
}
ul#portfolio-filter li {
display: inline;
}
ul#portfolio-filter a {
margin-right: 0.5em;
padding: 0.5em 1em;
/*background: #FFF;*/
color: #f9dd00;
font-weight: normal;
text-decoration: none;
}
ul#portfolio-filter a:hover, ul#portfolio-filter a.current {
color: #202020;
background:#
}
ul#portfolio-filter a.current {
/*background-color: #DDD;*/
}

.profile_information{
display:inline-block;
width:100%;
margin-bottom:30px;
}
.agent_phone, .agent_email{
display:block;
padding:25px 0;
}
.agent_phone h3, .agent_email h3{
font-size:24px;
}
.agent_phone > a, .agent_email > a{
display:inline-block;
padding-top:6px;
font-size:18px;
color:#FFF;
}
.agent_phone > a:hover, .agent_email > a:hover{
color:#f9dd00;
}


.site_content_area{
	padding:20px 15px 20px 15px;
	display:block;
	clear:both;
}




/* social icons style Liakat - 21-6-2015 */
.brand_logo{
	display:inline-block;
}

ul.social_sprite_icon{
	margin:30px 0 10px;
	padding:0;
	list-style:none;
	display:block;
	text-align:center;
}
ul.social_sprite_icon li{
	display:inline-block;
	line-height:normal;
}
ul.social_sprite_icon li a{
	background-image: url('../images/social_icon_sprite.png');
	background-repeat: no-repeat;
	height:32px;
	width:32px;
}
ul.social_sprite_icon li a.fb_icon, ul.social_sprite_icon li a.tw_icon, ul.social_sprite_icon li a.gplus_icon, ul.social_sprite_icon li a.pinterest_icon{
	display:inline-block;
	margin:0 2px;
}
ul.social_sprite_icon li a.fb_icon{
	background-position:0px 0px;
}
ul.social_sprite_icon li a.tw_icon{
	background-position:-32px 0px;
}
ul.social_sprite_icon li a.gplus_icon{
	background-position:-64px 0px;
}
ul.social_sprite_icon li a.pinterest_icon{
	background-position:-96px 0px;
}

@media (max-width: 767px) {
.brand_logo{
	display:block;
	text-align:center;
}
a.main_logo img{
	display:inline-block;
}
ul.social_sprite_icon{
	margin:10px 0;
	padding:0;
	list-style:none;
	float:none;
	display:block;
	text-align:center;
}
}

.video_block{
	width:320px;
	float:right;
	margin-left:20px;
	margin-bottom:10px;
}
.bottom_contact_map_block{
	margin:20px 0;
	padding:15px;
}
.bottom_contact_map_block h2{
	padding-bottom:5px;
}
.contact_information{
	color:#FFFFFF;
	font-family:'Droid Sans';
	font-size:14px;
	line-height:24px;
	margin-bottom:20px;
}
.contact_information strong{
	color:#f7b14d;
}
.location_map_block{
/*	border:1px solid #444445;
	padding:10px;*/
	margin:15px 0;
}
.contact_page_feedback{
	width:100%;
}

@media (max-width: 767px) {
.video_block{
	width:auto;
	float:none;
	margin-left:0;
}
.video_block img{
	width:100%;
}
}

.rightdiv {
    position: absolute;
    right: 150px;
    text-align: center;
    top:5px;
    width: 30%;
}
.chat-icon {
    color: #fff;
    float: left;
    /*width: 40%;*/
}
.chat-icon a{
	display:block;
}
.site_phone_right {width:100%; padding:2px 0 7px; text-align:right;}
.custom_content_block{
	padding:15px;
}

@media (min-width: 480px) and (max-width: 640px){
.chat-icon {width:100% !important; padding:5px; top:72px !important;  position:absolute !important}
.site_phone_right {width:100%; padding:2px 0 7px; text-align:center;}
.rightdiv {width:100% !important; top:57px !important;}
}
@media (min-width: 320px) and (max-width: 479px){
.chat-icon {width:100% !important; padding:5px; top:72px !important; position:absolute !important}
.site_phone_right {width:100%; padding:2px 0 7px; text-align:center;}
.rightdiv {width:100% !important; top:57px !important; margin-right:-140px !important;}

}

/* list order style */
ol.order_list_abc, ol.order_list_123, ul.unorder_list_disc{
	margin-left:40px;
	margin-top:10px;
	margin-bottom:15px;
}
ol.order_list_abc li{
	font-size:14px;
	list-style-type: lower-alpha;
	line-height:21px;
	color:#cdcdcd;
}
ol.order_list_123 li{
	font-size:14px;
	list-style-type:decimal;
	line-height:21px;
	color:#cdcdcd;
}
ul.unorder_list_disc li{
	font-size:14px;
	list-style-type:disc;
	line-height:21px;
	color:#cdcdcd;
}

/* new style by Liakat - 26th August 2015 */
.site_information_top{
	margin-top:20px;
}


.about_model{
	margin-bottom:20px;
}
.inner_container_area h5{
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #636363;
}
.featured_seal{
	background:#8a0000;
	color:#FFF;
	padding:4px 15px;
	margin-bottom:10px;
	display:inline-block;
	border:1px solid #cf0000;
	font-size:14px;
}
.profile_page_container{
	border:1px solid #343434;
	/*padding:10px;*/
}
.model_title{
	float:left;
}
.model_title h4{
	background:#b4823b;
	color:#FFF;
	padding:7px 15px;
	margin-bottom:10px;
	display:inline-block;
	border:1px solid #eb8a00;
	font-size:14px;
}
.page_control_block{
	float:right;
}
.page_control_block a{
	float:right;
	margin-left:2px;
}
.profile_page_header{
	margin-top:-32px;
}
.profile_page_padding{
	padding:15px 10px;
}



@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 641px) and (max-width: 767px){}
@media (min-width: 480px) and (max-width: 640px){}
@media (min-width: 320px) and (max-width: 479px){}

.bottom_backlinks_block{
display:block;
margin-top:30px;
}
.bottom_backlinks_block h3{
display:block;
margin-bottom:10px;
}
ul.backlinks_style {
padding:0;
margin:0;
}
ul.backlinks_style li{
list-style:none;
display:block;
}
ul.backlinks_style li a{
padding:2px 0;
display:inline-block;
}

@media (min-width: 768px) and (max-width: 991px){
ul.backlinks_style {
margin-bottom:20px;
}
}
@media (max-width: 767px) {
ul.backlinks_style {
margin-bottom:20px;
}
}

#website{ display:none; }